* {
  margin: 0;
}

body {
  background-color: #F9EDEA;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

[data-theme='light'] {
  --body-background: #F9EDEA;

  --header-background: #94628E;
  --header-text-color: white;
  --header-search-icon-background: #F9EDEA;

  --button-color: #94628E;
  --button-text-color: white;
  --button-border-color: #6d366a #b671b2 #dfb7dd;

  --product-background: white;
  --product-text-color: black;

  --subtotal-background: #F1DFCA;
  --subtotal-border-color: #ddb282;
  --subtotal-text-color: black;

  --login-card-background: #F1DFCA;
  --login-card-border-color: #ddb282;
}